<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Full Stack Encryption - Demo 03</title>
    <meta charset="utf-8">
  </head>
  <body>
    <script src="/static/script.js"></script>
  </body>
</html>
